footer {
    width: 100%;
    padding: 50px 0 0;
    background: rgb(37, 38, 40);

    .inner {
        width: 1180px;
        margin: 0 auto;
        position: relative;

        #footer_menu {

            &::after { content: ''; display: block; clear: both;}

            ul {
                float: left;
                margin-bottom: 35px;

                li {
                    display: inline-block;
                    margin-right: 20px;
                    a { font: 700 19px/1 'Lato'; color: #ccc; letter-spacing: 1px;}
                    
                }
            }
            
            .search{
                float: right;
                width: 22%; height: 30px;
                position: relative;

                input[type="text"] {
                    width: 100%; height: 100%;
                    border: none;
                    border-bottom: 1px solid #aaa;
                    background: none;
                    font: 700 16px/1 'Noto Sans KR'; color: #fff;
                }

                i {
                    position: absolute;
                    top: 50%; right: 1px;
                    transform: translateY(-50%);
                    font-size: 15px; color: #777;
                }
            }

        }

        #sns {
            margin-bottom: 25px;
            &::after { content: ''; display: block; clear: both;}

            li {
                float: left;
                margin-right: 12px;
                a { 
                    display: block;
                    width: 40px; height: 40px;
                    background: #555;
                    border-radius: 50%;
                    text-align: center;

                    i {
                        line-height: 40px;
                        font-size: 22px;
                        color: rgb(37, 38, 40);
                    }

                }
            }
        }

        .policy {
            margin-bottom: 40px;
            &::after { content: ''; display: block; clear: both;}

            li {
                float: left;
                margin-right: 20px;
                a { font: 400 14px/1 'Noto Sans KR'; color: #777;}
            }
        }

        >p {
            font: 300 14px/1 'Noto Sans KR'; color: #777;
            position: relative;
            padding-top: 10px;
            padding-bottom: 60px;

            &::before {
                content: ''; display: block;
                width: 100%; height: 1px;
                background: #555;
                position: absolute;
                top: 0; left: 0;
            }
        }
        
        .go_top {
            width: 100%; height: 40px;
            background: none;
            position: absolute;
            bottom: 0; left: 0;

            .arrow {
                width: 1px; height: 40px;
                background: #777;
                position: absolute;
                bottom: 0; left: 50%;
                transform: translateX(-50%);

                &::before {
                    content: '';
                    display: block;
                    width: 13px; height: 1px;
                    background: #777;
                    position: absolute;
                    top: 5px; left: -1px;
                    transform: rotate(45deg);
                }
                &::after {
                    content: '';
                    display: block;
                    width: 13px; height: 1px;
                    background: #777;
                    position: absolute;
                    top: 5px; left: -11px;
                    transform: rotate(-45deg);
                }
            }
        }
    }
}

@media screen and (max-width:1179px) {
    /* footer ---------------------------------------------------------------------------------- */
    footer {
        padding: 40px 30px 0;
    
        .inner {
            width: 100%;
    
            #footer_menu {
                ul {
                    float: none;
                    display: block;
                    margin-bottom: 25px;
    
                    li {
                        margin-right: 18px;
                        a { font-size: 16px;}
                    }
                }
                
                .search{
                    float: none;
                    width: 28%; height: 30px;
                    margin-bottom: 30px;
                }
    
            }
    
            #sns {
                margin-bottom: 25px;
    
                li {
                    a { 
                        display: block;
                        width: 40px; height: 40px;
                        background: #555;
                        border-radius: 50%;
                        text-align: center;
    
                        i {
                            line-height: 40px;
                            font-size: 22px;
                            color: rgb(37, 38, 40);
                        }
    
                    }
                }
            }
    
            .policy {
                margin-bottom: 30px;
    
                li {
                    a { font: 400 14px/1 'Noto Sans KR'; color: #777;}
                }
            }
        }
    }
}

@media screen and (max-width:539px) {
    /* footer ---------------------------------------------------------------------------------- */
    footer {
        padding: 40px 30px 0;
    
        .inner {
            #footer_menu {
                ul {
                    display: none;
                    margin-bottom: 25px;
                }
                
                .search{
                    width: 100%; height: 30px;
                    margin-bottom: 30px;
                }
    
            }
    
            #sns {
    
                li {
                    a { 
                        display: block;
                        width: 40px; height: 40px;
                        background: #555;
                        border-radius: 50%;
                        text-align: center;
    
                        i {
                            line-height: 40px;
                            font-size: 22px;
                            color: rgb(37, 38, 40);
                        }
    
                    }
                }
            }
    
            .policy {
                margin-bottom: 20px;
    
                li {
                    float: none;
                    margin-bottom: 8px;
                    a { font: 400 13px/1 'Noto Sans KR'; color: #777;}
                }
            }
        }
    }
}