.signup {
    .inner {
        h2 {
            font: 500 22px/1 'Noto Sans KR'; color: #fff;
            margin-bottom: 40px;
            // padding-bottom: 30px; border-bottom: 1px solid #ccc;
        }

        input[type="checkbox"] { margin-right: 10px; margin-bottom: 10px; margin-top: 5px;}        

        .agreeBox {
            label { font: 400 15px/1 'Noto Sans KR'; color: #fff;}

            textarea {
                width: 100%; height: 150px;
                resize: none;
                padding: 20px;
                background: rgba(0, 0, 0, 0.1);
                border: none; border-top: 1px solid #aaa; border-bottom: 1px solid #aaa;
                margin-bottom: 30px; margin-top: 10px;
                font: 300 13px/1.5 'Noto Sans KR'; color: #bbb;
            }

            .marketingNotice {
                font: 300 14px/1.6 'Noto Sans KR'; color: #eee;
                margin-bottom: 100px;
                margin-top: 15px;
            }
        }

        .wrap {
            width: 100%;

            .left {
                width: 25%; height: 650px;
                background: #a8cfd7;
                float: left;
                position: relative;

                >img {
                    width: 100%; height: 100%;
                    position: absolute; top: 0; left: 0;
                    opacity: 0.2;
                    object-fit: cover;
                    object-position: center;
                    filter: brightness(4);
                }

                >.txt {
                    width: 100%;
                    position: absolute;
                    top: 0; left: 0;
                    padding: 60px 30px;
                    margin-right: 30px;
                    z-index: 1;
                    h4 {
                        font: 500 18px/1 'Noto Sans KR'; color: #333;
                        margin-bottom: 24px;
                    }
                    >p {
                        font: 400 15px/2 'Noto Sans KR'; color: #222;
                        >span {
                            position: relative;
                            &::after {
                                content: ''; display: block; background: #555;
                                width: 100%; height: 1px;
                                position: absolute; bottom: 0; left: 0;
                            }
                        }
                    }
                }
                
            }

            .right {
                width: 75%;
                float: left;
                padding: 0px 50px;

                table {
                    width: 100%;
                    tr {
                        th {
                            width: 18%;
                            text-align: left;
                            padding: 0px 0px 50px;
                            font: 400 15px/1.3 'Montserrat'; color: #a8cfd7;

                            &::after {
                                content: '*'; display: inline-block;
                                margin-left: 5px;
                                transform: translateY(3px);
                                font-weight: bold;
                                color: inherit;
                            }
                        }
                        td {
                            width: 82%;
                            padding: 0px 20px 50px;

                            ul li {
                                font: 300 14px/1 'Noto Sans KR'; color: #eee;
                                margin-top: 10px;
                            }
                            
                            input[type="text"], input[type="password"] {
                                width: 100%; height: 40px;
                                border: none;
                                border-bottom: 1px solid #fff;
                                transition: 0.5s;
                                background: #2D2C4D;

                                &::placeholder { font: 400 16px/1 'Noto Sans KR'; color: #999;}
                                &:focus { border-bottom: 2px solid #888; background: rgba(0, 0, 0, 0.02);}
                            }

                            select {
                                width: calc( 100% - 160px ); height: 40px;
                                border: none;
                                border-bottom: 1px solid #fff;
                                margin-top: 10px;
                                font: 300 16px/1 'Noto Sans KR'; color: #fff;
                                transition: 0.5s;
                                background: #2D2C4D;

                                &::placeholder { font: 400 16px/1 'Noto Sans KR'; color: #fff;}
                                &:focus { border-bottom: 2px solid #888; background: #1f1f3a;}
                            }

                            input[type="radio"] { margin-right: 8px;}
                            >label {
                                font: 400 16px/1 'Noto Sans KR'; color: #fff;
                                margin-right: 20px;
                            }

                            //경고문
                            p {
                                font: 300 15px/1 'Noto Sans KR'; color: #9ee082;
                                margin-top: 7px;
                            }
                        }

                        .btnMailCk {
                            display: inline-block;
                            width: 140px; height: 40px;
                            font: 400 15px/38px 'Noto Sans KR'; color: #fff;
                            border: 1px solid #fff;
                            text-align: center;
                            margin-top: 10px; margin-bottom: 10px;
                            margin-left: 5px;
                        }

                        #confirm {
                            width: calc( 100% - 160px );
                        }

                        &:nth-of-type(3) th, &:nth-of-type(3) td { padding-bottom: 20px;}
                    }
                }
            }

            .btns{
                float: left;
                width: 100%;
                text-align: center;
                margin-bottom: 150px;

                input[type="reset"] {
                    width: 150px; height: 40px;
                    font: 300 16px/38px 'Noto Sans KR'; color: #fff;
                    background: #2D2C4D;
                    border: 2px solid #fff;
                    margin-right: 10px;
                    cursor: pointer;
                }
                input[type="submit"] {
                    width: 150px; height: 40px;
                    font: 500 16px/38px 'Noto Sans KR'; color: #333;
                    background: #fff;
                    border: none;
                    cursor: pointer;
                }
            }

            
        }
    }
}